[Unit]
Description=Gondul ping collector
Documentation=https://github.com/gathering/gondul
After=network-online.target

[Service]
ExecStart=/opt/gondul/collectors/ping.pl
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
