[Unit]
Description=Gondul Templating
Documentation=https://github.com/gathering/gondul
After=network-online.target

[Service]
ExecStart=/opt/gondul/templating/templating.py -h ::1 -p 8081 -t /opt/gondul/web/templates/
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target

