[Unit]
Description=Gondul Templating
Documentation=http://google.com
After=network-online.target

[Service]
ExecStart=/opt/gondul/templating/templating.py -h ::1 -p 8081 -t /opt/gondul/web/templates/
MountFlags=slave

[Install]
WantedBy=multi-user.target

