#! /usr/bin/perl
use strict;
use warnings;
package nms::config;

# DB
our $db_name = "{ db_name }";
our $db_host = "{ db_host }";
our $db_username = "{ db_user }";
our $db_password = "{ db_password }";

# Max SNMP polls to fire off at the same time.
our $snmp_max = 20;

# What SNMP objects to fetch.
our @snmp_objects = [
	['ifIndex'],
	['sysName'],
	['sysDescr'],
	['ifHighSpeed'],
	['ifType'],
	['ifName'],
	['ifDescr'],
	['ifAlias'],
	['ifOperStatus'],
	['ifAdminStatus'],
	['ifLastChange'],
	['ifHCInOctets'],
	['ifHCOutOctets'],
	['ifInDiscards'],
	['ifOutDiscards'],
	['ifInErrors'],
	['ifOutErrors'],
	['ifInUnknownProtos'],
	['ifOutQLen'],
	['sysUpTime'],
	['jnxOperatingTemp'],
	['jnxOperatingCPU'],
	['jnxOperatingDescr'],
	['jnxBoxSerialNo']
];

1;
